/* CSS for the card-container class */
.card-container {
    margin: 10px; /* Add margin as needed */
  }
  
  /* CSS for the app-content-card component */
  app-content-card {
    display: block; /* Ensure it's a block-level element */
    margin-bottom: 10px; /* Add margin as needed */
    padding: 10px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 3px solid black;
    background-color:lightblue;
    width: 500px;
  }
  