/* General styles */
.search-container {
  margin-bottom: 20px;
}

.item-container {
  margin-bottom: 30px;
}

.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
img{
  height: 600px;
  width: 600px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
}

.creator {
  color: #888;
}

/* Specific styles for each type */
.no-type-card {
  background-color: #f0f0f0;
}

.indoor-card {
  background-color: #e6f7ff;
}

.digital-card {
  background-color: #e6e6e6;
}

/* Hover effect styles using HoverAffect directive */
p[HoverAffect] {
  transition: all 0.3s ease;
}

/* Success and error text styles */
.success-text {
  color: green;
}

.error-text {
  color: red;
}

/* Button styles */
.search-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}
